---
layout: default
---

<ul class="archive__items">
  {% case month %}
  {% when ‘1’ %}Januar
  {% when ‘2’ %}Februar
  {% when ‘3’ %}Marec
  {% when ‘4’ %}April
  {% when ‘5’ %}Maj
  {% when ‘6’ %}Junij
  {% when ‘7’ %}Julij
  {% when ‘8’ %}August
  {% when ‘9’ %}September
  {% when ‘10’ %}Oktober
  {% when ‘11’ %}November
  {% when ‘12’ %}December
    {% endcase %}
    <li class="archive__item">
      <time class="archive__day" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%d' }}</time>
      <a class="archive__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
  {% endfor %} 
</ul>
